* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: flex;
  font-family: "monaco", monospace;
  background-color: whitesmoke;
  background-size: 15% 50%;
  background-image:
    linear-gradient(to right, grey 2px, transparent 5px),
    linear-gradient(to bottom, grey 2px, transparent 5px),
    linear-gradient(to top, grey 2px, transparent 5px),
    linear-gradient(to left, grey 2px, transparent 5px);
}
 
.header {
  color: blue;
  font-weight: 900;
  text-align: center;
}

.test {
  color: blue;
  margin: auto;
  text-align: center;
  padding: 25px 0px;
}

.div1{
  color: black;
  width: 250px;
}

.div2 {
  color: black;
  font-weight: bold;
  width: 250px;
}

.div3 {
  color: black;
  width: 250px;
}

.div4 { 
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #ffffff,      /* inner white */
    inset 20px 0 80px #30cc1c,   /* inner left magenta short */
    inset -20px 0 80px #1c1fcc,  /* inner right cyan short */
    inset 20px 0 300px #0065ff,  /* inner left magenta broad */
    inset -20px 0 300px #1c1fcc, /* inner right cyan broad */
    0 0 50px #e3e3e3,            /* outer white */
    -10px 0 80px #0065cc,        /* outer left magenta */
    10px 0 80px #1c1fcc;         /* outer right cyan */
    justify-content: right;
}

.div5 {
  background-image: url("images/Portal-Poster.png");
  color: black;
  width: 325px;
  height: 475px;
  padding: 20px;
}

.div6 {
  color: black;
  width: 250px;
}