.header {
  text-align: center;
  background-color: #18B718;
  color: #1e1786;
  padding: 32px;
}

.colors {
  background-color: black;
}

.test {
  text-align: center;
  color: #007700;
}

.div2, .div3, .div4 {
  color: grey;
}

.div2 {
  margin: 20 10 20 10;
  padding: 10 10 10 10;
}

.div5 {
  color: #007700;
  position: center;
}

.div6 {
  color: pink;
  text-align: left;
  position: center;
}